@page "/"
@using System.Collections.Generic;
@using ClassLibraryEntity
@using ClassLibraryDAL
@inject NavigationManager nm
<h3>CityComponent</h3>
@foreach (var city in CityList)
{
    <div class="card" style="width: 18rem;">
        <img src="download.png" class="card-img-top bg-warning" alt="..." href="userareas/@city.cityid" onclick="e=>(navigateClick(@city.cityid))">
        <div class="card-img-overlay">
            <h5 class="card-title">@city.cityname</h5>
            @*<a class="btn btn-outline-secondary" href="userareas/@city.cityid">@city.cityname</a>*@
            </div>   
    </div>
   
}
@code {
    public List<CityEntity> CityList { get; set; }

    protected override void OnInitialized()
    {
        OnLoad();
    }

    protected void OnLoad()
    {
        this.CityList = ClassLibraryDAL.CityDAL.GetCities();
    }
    protected void navigateClick( int id)
    {
        nm.NavigateTo("/userareas/{@city.cityid}");
    }

}
