@page "/login/id"
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-md-8 hello shadow-lg">
<h2 style="padding-top: 70px;">LogIn
</h2>
<p>SignIn to continue on EventPoint </p>
            <p>@Message</p>
           
            <input class="inputs shadow-lg"  placeholder="Enter Phone Number"><br><br>
            <input class="inputs shadow-lg"  placeholder="Pin Code"><br><br>

            <input class="shadow-lg" type="checkbox">Stay Logged In<br><br>
            <button class="buttonsindex">LogIn</button><br><br><br>
            <a href="signup">Create new account</a>


        </div>
        </div>
    </div>



@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string? Message { get; set; }

}
