@using ClassLibraryDAL
@using ClassLibraryEntity

            <div class="card">
                <div class="card-header justify-content-center">
                    About
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-2">
                        <p>@vendorDescription</p>
                        
                    </blockquote>
                </div>
            </div>
      
  
@code {
    [Parameter] public string vendorDescription { get; set; }  

}
