@inherits LayoutComponentBase

<PageTitle>EventPoint</PageTitle>
<style>
   .textdecor {
        text-decoration: none;
    }
</style>


    <main>
        <NavMenu></NavMenu>
       
        <article class="content px-4 bg-light">
            @Body
        </article>
    </main>

